<div class="row">
  <div class="col-lg-2" ></div>
 <div class="col-lg-8" style="padding-top: 5%">
     <p class="h4 mb-4">Add Plan</p> 
     <form>
          <div class="form-group row">
            <label for="inputPlan" class="col-sm-3 col-form-label">New Plan Name</label>
            <div class="col-sm-9">
                <input type="plan" class="form-control" id="inputPlan" placeholder="Plan Name">
            </div>
          </div>
            <div class="form-group row">
                <div class="col-sm-6 offset-sm-2">
                    <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-2 waves-effect z-depth-0" mdbWavesEffect
                    type="submit">Submit</button>
                </div>
            </div>       
       </form>
       </div>
       <div class="col-lg-2" ></div>
</div> 
