
<div class="row">
  <div class="col-lg-2" ></div>
 <div class="col-lg-8" style="padding-top: 5%">
     <p class="h4 mb-4">Application Form</p>
 
     <form>
         <div class="form-group row">
             <label for="inputName" class="col-sm-3 col-form-label"> Name</label>
             <div class="col-sm-4">
                 <input type="fName" class="form-control" id="inputFirstName" placeholder="First Name">
             </div>
             
             <div class="col-sm-5">
                 <input type="lName" class="form-control" id="inputLastName" placeholder="Last Name">
             </div>
         </div>
         <div class="form-group row">
             <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
             <div class="col-sm-9">
                 <input type="email" class="form-control" id="inputEmail" placeholder="Email">
             </div>
         </div>
         <div class="form-group row">
             <label for="inputPhone" class="col-sm-3 col-form-label">Phone Number</label>
             <div class="col-sm-9">
                 <input type="phone" class="form-control" id="inputPhone" placeholder="Phone Number">
             </div>
         </div>
         <div class="form-group row">
             <label for="inputAddress" class="col-sm-3 col-form-label">Address</label>
             <div class="col-sm-9">
                 <textarea class="form-control" id="inputAddress" placeholder="Address"></textarea>
             </div>
         </div>
         <div class="form-group row">
             <label for="inputPlan" class="col-sm-3 col-form-label">Membership Plan</label>
             <div class="col-sm-9">
                 <label class="form-check-label col-sm-4"><input type="checkbox"> Silver</label>
                 <label class="form-check-label col-sm-4"><input type="checkbox"> Gold</label>
                 <label class="form-check-label col-sm-4"><input type="checkbox"> Platinum</label>
             </div>
         </div>
         <div class="form-group row">
             <label for="inputFamilyCount" class="col-sm-3 col-form-label">No. of Family Members</label>
             <div class="col-sm-9">
                 <input type="familyCount" class="form-control" id="inputFamilyCount" placeholder="No. of Family Members">
             </div>
         </div>
         <div class="form-group row">
             <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
             <div class="col-sm-9">
                 <input type="password" class="form-control" id="inputPassword" placeholder="Password">
             </div>
         </div>
         <div class="form-group row">
             <div class="col-sm-6 offset-sm-2">
                 <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-2 waves-effect z-depth-0" mdbWavesEffect
                 type="submit">Submit</button>
             </div>
         </div>
     </form>
 </div>
 <div class="col-lg-2" ></div>
 </div>